/* ===============================
   Main Container
================================ */
.login-wrapper {
  background: linear-gradient(135deg, #f0f4f8, #e6ecf3);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

/* =============================
   Title
================================ */
.login-title {
  text-align: center;
  font-size: 28px;
  font-weight: 700;
  margin-bottom: 20px;
  color: #0f172a;
}

/* ===============================
   Buttons
================================ */
.login-btn {
  width: 100%;
  background: #4f46e5;
  color: white;
  padding: 14px;
  border: none;
  border-radius: 14px;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  transition: 0.2s ease;
  margin-top: 10px;
}

.login-btn:hover {
  background: #4338ca;
}

.logout-container {
  margin-top: 20px;
  text-align: center;
}

.logout-other-btn {
  background: transparent;
  border: 2px dashed #ef4444;
  color: #ef4444;
  padding: 12px 18px;
  border-radius: 12px;
  font-weight: 600;
  cursor: pointer;
}

/* ===============================
   OTP Modal UI
================================ */
.otp-overlay {
  position: fixed;
  inset: 0;
  background: rgba(15, 23, 42, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}

.otp-box {
  background: white;
  border-radius: 16px;
  padding: 25px;
  width: 100%;
  max-width: 360px;
  text-align: center;
  animation: popup 0.3s ease;
}

@keyframes popup {
  from {
    transform: scale(0.95);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}

.otp-box h3 {
  font-size: 20px;
  margin-bottom: 15px;
}

.otp-box input {
  width: 100%;
  padding: 14px;
  border-radius: 10px;
  border: 1.5px solid #d1d5db;
  margin-bottom: 15px;
  outline: none;
  font-size: 16px;
}

.otp-actions {
  display: flex;
  gap: 10px;
}

.otp-btn {
  flex: 1;
  padding: 12px;
  border-radius: 10px;
  font-weight: 600;
  cursor: pointer;
  border: none;
}

.verify-btn {
  background: #22c55e;
  color: white;
}

.close-btn {
  background: #ef4444;
  color: white;
}



/* ===============================
   Both Login Container
================================ */
.auth-combined-box {
  background: white;
  border-radius: 22px;
  padding: 10px;
  max-width: 900px;
  margin: auto;
  box-shadow: 0 25px 70px rgba(0, 0, 0, 0.08);
}

.auth-divider {
  text-align: center;
  margin: 25px 0;
  color: #94a3b8;
  font-weight: 600;
  position: relative;
}

.auth-divider::before,
.auth-divider::after {
  content: "";
  height: 1px;
  width: 40%;
   background: #94a3b8;
  position: absolute;
  top: 50%;
}

.auth-divider::before { left: 0; }
.auth-divider::after { right: 0; }

.chat-box {
  background: #f8fafc;
  border-radius: 18px;
  padding: 20px;
  border: 1px solid #e5e7eb;
}
