@import "tailwindcss";

body {
  font-family: Arial, sans-serif;
  font-size: 14px;
  line-height: 1.2; /* reduce line spacing */
  margin: 0;
  padding: 0;
}

p,
div,
span {
  margin: 0;
  padding: 2px 0; /* small padding only */
}


