/* popup animation */
@keyframes popup {
  from {
    transform: scale(0.95);
    opacity: 0;
  }

  to {
    transform: scale(1);
    opacity: 1;
  }
}

/* FadeIn Animation reused  */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(6px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* dropdown animation */
@keyframes dropdownFade {
  from {
    opacity: 0;
    transform: translateY(-5px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* slide in  */
@keyframes slideIn {
  from {
    opacity: 0;
    transform: translate(20px, -10px);
  }

  to {
    opacity: 1;
    transform: translate(0, 0);
  }
}

/* scaleIn ANIMATIONS */
@keyframes scaleIn {
  from {
    opacity: 0;
    transform: scale(0.95) translateY(10px);
  }

  to {
    opacity: 1;
    transform: scale(1) translateY(0);
  }
}

/* spinner animation */
@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

/* shake */

@keyframes shake {

  0%,
  100% {
    transform: translateX(0);
  }

  20%,
  60% {
    transform: translateX(-4px);
  }

  40%,
  80% {
    transform: translateX(4px);
  }
}