 /* GLOBAL FORM STYLES */
 .form-container {
   background: var(--surface);
   /* background-color: transparent; */
   border-radius: 18px;
   padding: 25px;
   width: 100%;
   max-width: 420px;
   box-shadow: var(--shadow-sm);
 }

 .form-group {
   position: relative;
   margin-bottom: 22px;
 }

 .form-group input,
 .form-group select {
   width: 100%;
   padding: 16px 14px;
   border: 1.8px solid var(--border);
   border-radius: 12px;
   outline: none;
   font-size: 15px;
   background-color: var(--surface);
   transition: 0.2s ease;
 }
input[type="file"] {
  cursor: pointer;
}
 .form-group input:focus,
 .form-group select:focus {
   border-color: var(--color-primary);

 }

 /* Floating Labels */
 .form-group label {
   position: absolute;
   top: 50%;
   left: 15px;
   transform: translateY(-50%);
   font-size: 14px;
   background: var(--surface);
   padding: 0 6px;
   color: #6b7280;
   transition: 0.25s ease;
 }

 .form-group input:focus+label,
 .form-group input:not(:placeholder-shown)+label,
 .form-group select:focus+label {
   top: -2px;
   font-size: 12px;
   color: var(--color-primary);
 }

 .text-red-600 {
   color: var(--error);
   font-size: 14px;
 }

 .form-btn {
   width: 100%;
   padding: 14px;
   font-size: 16px;
   font-weight: 600;
   color: white;
   background-color: var(--color-primary);
   border-radius: 12px;
   box-shadow: var(--shadow-sm);
   border: none;
   cursor: pointer;
   transition: 0.2s ease;
 }

 @media (max-width: 768px) {
   .form-container {
     padding: 12px;
     max-width: 100%;
     /* background-color: inherit; */
   }
 }