 /* GLOBAL FORM STYLES */
 .form-container {
   background: var(--surface);
   /* background-color: transparent; */
   border-radius: 18px;
   padding: 20px;
  max-width: 720px; 
  /* margin: 0 auto;  */
   box-shadow: var(--shadow-sm);
 }

 .form-group {
   position: relative;
   margin-bottom: 12px;
   flex: 1;

 }

 .input-group {
   display: flex;
   gap: 12px;
 }

 .col-70 {
   flex: 2;
 }

 .col-30 {
   flex: 1;
 }

 /* validation */
 .input-error {
   color: var(--danger);
   font-size: 12px;
   font-style: italic;

 }
 /* input.error{
  color: transparent;
 } */

 .form-group input.error,
 .form-group textarea.error,
 .form-group select.error,
 .form-group textarea.error:focus,
 .form-group input.error:focus,
 .form-group select.error:focus {
   border-color: var(--danger);
   animation: shake 0.3s;
 }

.form-group input,
.form-group textarea,
.form-group select {
  color: var(--text-primary); 
}

 /*  */
 .form-group input,
 .form-group select {
   width: 100%;
   padding: 8px ;
   border: 1.8px solid var(--border);
   border-radius: 8px;
   outline: none;
   font-size: 15px;
   background-color: var(--surface);
   transition: 0.2s ease;
 }

 .form-group select {
   font-size: 12px;
   height: auto;
   /* height: 100%; */
   cursor: pointer;
 }

 /* .form-group option{
  font-size: 12px;
} */
 input[type="file"] {
   cursor: pointer;
 }

 .form-group textarea:focus,
 .form-group input:focus,
 .form-group select:focus {
   border-color: var(--color-primary);
 }

 /* Floating Labels */
 .form-group label {
   position: absolute;
   top: 50%;
   left: 15px;
   transform: translateY(-50%);
   font-size: 12px;
   background: var(--surface);
   padding: 0 6px;
   color: #6b7280;
   transition: 0.25s ease;
 }
 
 .form-group input:focus+label,
 .form-group input:not(:placeholder-shown)+label,
 .form-group select:focus+label {
   top: -2px;
   font-size: 12px;
   color: var(--color-primary);
 }
 .form-group textarea {
   width: 100%;
   padding: 8px;
   min-height: 70px;
   resize: none;
   border: 1.8px solid var(--border);
   border-radius: 8px;
   outline: none;
   font-size: 15px;
   background-color: var(--surface);
   transition: 0.2s ease;

 }

 .form-group textarea:focus+label,
 .form-group textarea:not(:placeholder-shown)+label {
   top: -2px;
   font-size: 12px;
   color: var(--color-primary);
 }

 .text-red-600 {
   color: var(--error);
   font-size: 14px;
 }

 .form-btn {
   width: 100%;
   padding: 14px;
   font-size: 16px;
   font-weight: 600;
   color: white;
   background-color: var(--color-primary);
   box-shadow: var(--shadow-sm);
   transition: 0.2s ease;
 }

 @media (max-width: 768px) {
   .form-container {
     padding: 12px;
     max-width: 100%;
     /* background-color: inherit; */
   }


 }

 @media (max-width:400px) {
   .input-group {
     flex-direction: column;
     gap: 0;
   }

   .col-70,
   .col-30 {
     flex: 1;
   }
 }
 .form-select{
  max-width: 200px;
 }