/* Change Password Card */
.change-password-form {
  background: var(--surface);
  padding: 24px;
  border-radius: 16px;
  box-shadow: var(--shadow-md);
  max-width: 420px;
  width: 100%;
  border: 1px solid var(--border);
  position: relative;
  animation: fadeIn 0.3s ease-in-out;
  margin-top: 16px;
}

.change-password-form input {
  padding: 8px;
}

.change-password-form label {
  font-size: 12px;
}


/* Title */
.change-password-title {
  font-size: 18px;
  font-weight: 600;
  text-align: center;
  margin-bottom: 16px;
}

/* Close button */
.close-password-btn {
  position: absolute;
  top: 0;
  right: 0;
  background: transparent;
  border: none;
  cursor: pointer;
  color: var(--muted);
  transition: color 0.3s ease, transform 0.3s ease;
  transform-origin: center;

}

.close-password-btn:hover {
  color: var(--text-strong);
  transform: scale(1.1);
}

/* Submit Button */
.change-password-form button.form-btn {
  width: 100% !important;

}

.change-password-btn:disabled {
  background: var(--border);
  cursor: not-allowed;
}

/* Password toggle */
.password-toggle {
  position: absolute;
  right: 12px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  color: var(--muted);

}

/* Panel Positioning (DESKTOP) */

.change-password-panel {
  position: absolute;
  top: 125px;
  left: -280px;
  z-index: 10000;
  animation: slideIn 0.25s ease-out;
}



/*  Mobile (MODAL STYLE) */

@media (max-width: 768px) {
  .change-password-panel {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.4);

    display: flex;
    align-items: center;
    justify-content: center;
    padding: 16px;
      top: 225px;
        animation:  popup 0.25s ease-out;
  }

  .change-password-form {
    max-width: 100%;
    border-radius: 14px;

  }
}