.custom-select {
  position: relative;
  width: 100%;
  /* max-width: 300px; */
}
.select-trigger {
  padding:8px 10px;
  border-radius: 8px;
  border: 1.8px solid var(--border);
  background: var(--surface);
  cursor: pointer;

}
.select-options li.active {
  background: rgba(99, 102, 241, 0.15);
}

.select-trigger.error {
  border-color: var(--danger);
}
.select-options {
  position: absolute;
  top: calc(100% + 6px);
  width: 100%;
  background: var(--surface);
  border-radius: 10px;
  box-shadow: var(--shadow-md);
  z-index: 50;
  animation: dropdownFade 0.2s ease;
  border: 1px solid var(--border);

max-height: 300px;
overflow-y: auto;

}

.select-options li {
  padding: 10px 12px;
  cursor: pointer;
}

.select-options li:hover {
  background: rgba(99, 102, 241, 0.12);
}


.select-trigger {
  border-radius: 8px;
  border: 1.8px solid var(--border);
  background: var(--surface);
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: border-color 0.2s;
}

.select-trigger.error {
  border-color: var(--danger);
}

.select-trigger .arrow {
  transition: transform 0.3s ease; 
}

.select-trigger .arrow.rotate {
  transform: rotate(180deg); 
}


.select-options {
  position: absolute;
  top: calc(100% + 6px);
  width: 100%;
  background: var(--surface);
  border-radius: 10px;
  box-shadow: var(--shadow-md);
  z-index: 50;
  animation: dropdownFade 0.2s ease;
  border: 1px solid var(--border);

  max-height: 300px;
  overflow-y: auto;

  /* Scrollbar style */
  scrollbar-width: thin;           /* Firefox */
  scrollbar-color: var(--primary-600) rgba(0,0,0,0.1); /* Firefox */
}

/* Chrome, Edge, Safari */
.select-options::-webkit-scrollbar {
  width: 8px;
}

.select-options::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.05);
  border-radius: 10px;
}

.select-options::-webkit-scrollbar-thumb {
  background-color: var(--primary-600);
  border-radius: 10px;
  border: 2px solid rgba(0, 0, 0, 0.05); /* padding around thumb */
}

.select-options::-webkit-scrollbar-thumb:hover {
  background-color: var(--primary-500);
}
