/* Logout button */
.logout-btn {
  background: transparent;
  background-color: var(--danger);
  padding: 8px 12px;
  font-weight: 600;
  font-size: 13px;
  outline: 1px solid var(--danger);
  color: white;
  border: 1px solid white;
}