/* Container */
.create-adc-wrapper {
    width: 100%;
    margin: 50px auto;
    padding: 30px 20px;
    border-radius: 18px;
    animation: fadeIn 0.3s ease-in-out;
    display: flex;
    flex-direction: column;
    justify-self: center;
    align-items: center;
}


/* Title */
.create-adc-wrapper h1 {
    font-size: 22px;
    font-weight: 700;
    color: var(--text-strong);
    text-align: center;
    margin-bottom: 20px;
}

/* Message Box */
.create-adc-message {
    font-size: 14px;
    font-weight: 500;
    text-align: center;
    margin-bottom: 16px;
    color: white;
    padding: 10px;
    border-radius: 10px;
    background-color: var(--color-primary);
}


.create-adc-wrapper button:disabled {
    background: var(--border);
    cursor: not-allowed;
    transform: none;
    box-shadow: none;
}





/* TWO COLUMN LAYOUT */
.adc-two-columns {
  display: flex;
  gap: 30px;
  width: 100%;
  justify-content: space-between;
}

/* LEFT SIDE (FORM) */
.adc-left {
  flex: 1;
}

/* RIGHT SIDE (INFO TEXT) */
.adc-right {
  flex: 1;
  background: var(--bg-2);
  border-radius: 18px;
  padding: 25px;
  border: 1px solid var(--border);
  box-shadow: var(--shadow-sm);
  animation: fadeIn 0.3s ease;
}

.adc-right h2 {
  font-size: 22px;
  font-weight: 700;
  margin-bottom: 10px;
}

.adc-right p {
  color: var(--muted);
  line-height: 1.6;
  margin-bottom: 15px;
}

.adc-right ul {
  list-style: disc;
  padding-left: 20px;
  color: var(--text-strong);
  line-height: 1.6;
}

/* MOBILE VIEW */
@media (max-width: 768px) {
  .adc-two-columns {
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
  }
  .create-adc-wrapper{
    padding: 0;
  }
  .adc-right {
    padding: 15px;
  }
  .adc-left{
    width: 100%;
  }
}
