/* Wrapper */
.manage-adc-wrapper {
  display: flex;
  flex-direction: column;
  gap: 28px;
}
.create-adc-message{
  background-color: rgb(127, 225, 255);
}

/* Update Panel */
.update-adc-modal h3 {
  font-size: 20px;
  font-weight: 700;
}

.update-sub {
  color: var(--muted);
  margin-bottom: 16px;
}


 /* .btn-outline {
  background: transparent;
  border: 1px solid var(--border);
  padding: 10px 18px;
  border-radius: 10px; 
} */

/* MODAL OVERLAY */
.modal-overlay {
  position: fixed;
  inset: 0;
  background: rgba(15, 23, 42, 0.55);
  /* dark background */
  backdrop-filter: blur(3px);
  z-index: 9999;
  display: flex;
  align-items: center;
  justify-content: center;
  animation: fadeIn 0.25s ease;
}

/* Actions */
.update-actions {
  display: flex;
  gap: 12px;
  margin-top: 10px;

}

/* CENTER MODAL */
.update-adc-modal {
  width: 100%;
  max-width: 520px;
  background: var(--surface);
  padding: 28px;
  border-radius: 20px;
  box-shadow: var(--shadow-lg);
  animation: scaleIn 0.25s ease;
}

.update-adc-modal h3 {
  font-size: 22px;
  font-weight: 700;
}

.btn-primary {
  display: flex;
  align-items: center;
  justify-content: center;
}
.btn-primary:disabled {
  /* opacity: 0.5; */
  cursor: not-allowed;
}

.update-adc-modal input {
  width: 100%;
  padding: 10px 14px;
  border-radius: 10px;
  border: 1px solid var(--border);
  margin-bottom: 12px;
}

.btn-spinner {
  width: 18px;
  height: 18px;
  border: 3px solid rgba(255, 255, 255, 0.4);
  border-top-color: white;
  border-radius: 50%;
  animation: spin 0.8s linear infinite;
  display: inline-block;
}